body{
    background-color: rgb(10, 10, 10);
    color: rgb(39, 158, 202);
    font-family: poppinsregular;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
}

header{ display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_links{
margin-inline: auto;
margin-right:4rem;
word-spacing: 3rem;
}
#title{
    flex-direction: row;
    line-height: 3px;  
}

a{
    color:rgb(39, 158, 202);
    margin: auto;
}

a:hover{
  color: rgb(243, 243, 238);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border:  7px solid (blue);
    padding: 10px;
    border-radius: 15px;
    
}
#inscreva-se-btn:hover{
    background-color: blueviolet;
    color: white;
    
}
h1{
    font-size: 40px; 
   font-weight: 200;
   margin: 2.4rem;
   text-align: center;
   max-width: 100%;
   padding: auto;

}


 h2{
    font-size: 34px; 
    line-height: 30px;
    font-family:poppinsregular;
    margin: 25px 6px;
 }
 span{
    color: rgb(200, 41, 30);

 }
 p{
  margin: 3rem ;
    max-width: 100%;
    font-family:poppinsregular;
    text-align: center;
 }

 img{
    width: 300px;
    flex-direction: column;
    border-radius: 3%;
 }

 form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
 }

 input[  type="submit"]{
    height: 50px;
    width: 100%;
    background-color: rgb(43, 177, 226);
    color: rgb(255, 255, 255);
    font-weight:400;
    font-size:1.2rem;
    border-radius: 2rem;
    text-decoration: none;
 }

 input[ type="submit"]:hover{
    cursor: pointer;
 }

 input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 2rem;
    border: none;
    font-size: 15px;
 }

 .form_image{
    display: flex;
    flex-direction: row !important;
    max-width: 100%;
 }


 .btn{
    background-color: none;
    border: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 2rem;
 }

 .btn.btn-primary{
    background-color: rgb(162, 51, 41);
    color:white;
    font-weight:400;
    font-size:1.4rem;
    text-decoration: none;
 }

 .about{ flex-direction: column;
      
 }

.about h2{
   flex-direction: column;
}

.about_left h2{
   width: 100%;
   margin-right:100px;
   text-align: center;
}


.skills_content{
   display: inline-block;
   margin: 15px;
   width: 130px;
   text-align: center;
   margin-left: 50px;
}

.image_container{display: inline-block;
   margin: 15px;
   width: 130px;
   text-align: center;
   margin-left: 50px;

}


.description{
   text-align: center;
   max-width: 100%;
   
}


.redesocial{ 
   display: flex;
   flex-direction: row;

}

.redesocial img{
margin: center;
max-width: 30%;
flex-direction: row;
}



.skills_item img{
   width: 70px;
      height: auto;
      margin: center;
      display: flex;
      flex-direction: row;
   }


   .projects{
      text-align: center ;
      display: flex;
      flex-direction: column;
      max-width: 500%;
   }
   
   .projects p{
      max-width: 100%;
      text-align: center;
      flex-direction: column;
      
   }
   .project_info{
     align-items:center;
     width: 250px;
     display: inline-block;
   }
   
   .element1{
      margin: center;
      max-width: 30%;
      flex-direction: row;
   }
   
   .element1 img{
      display: flex;
      margin: 12px;
      width: 130px;
      text-align: center;
      margin-left: 70px;
   
   }
   
   .element2{
      display:flex;
      flex-direction:row;
      text-align: center;
   }
   .element2 img{
      display: flex;
      margin: 12px;
      width: 130px;
      text-align: center;
      margin-left: 70px;
   }
   
   .element3{
      display:flex;
      flex-direction:row;
   }
   .element3 img{
      display: flex;
      margin: 12px;
      width: 130px;
      text-align: center;
      margin-left: 70px;

   }
   .element4{
      display:flex;
      flex-direction:row;
   }
   .element4 img{
      display: flex;
      margin: 12px;
      width: 130px;
      text-align: center;
      margin-left: 70px;

   }

   .max-width{
      width: 100%;
      max-width: 120rem;
      
   }
   .mb-0{
      margin-bottom: 0;
      
   }
   .mb-s{
      margin-bottom: 1rem;
      text-align: center;
      max-width: 60%;
   }
   
   .mb-m{
      margin-bottom:1cap;
      text-align: center;
      max-width: 100%;
   }
   .mb-l{
      margin-bottom: 2rem;
   }
   
   .mb-xl{
      margin-bottom: 3rem;
   }
   
   .footer_content{
      display:inline-block;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 10px;
      width: 100%;
   }
   .footer-contact span{
      color: rgb(167, 30, 15);
      margin-right: 1rem;
   }
   
   .footer-copyright{
      color: white;
      align-items: center;
   }
   
   @media only screen and (max-width:1024px){
    html{font-size:60%}
   h1{font-size:1rem;
   }}
   
   @media only screen and (max-width:768px){
      html{
         font-size:58%;
      }
      .max-width{
         padding:0 2rem;
      }
   }
   
   @media only screen and (max-width: 100%){
      h1{
         font-size: 4.2rem;
      }
   }
     @media only screen and (max-width: 100%){
      h1{
         font-size: 4.2rem;
      }
   }
